<footer id="footer">
  <div class="footer-top">
    <a class="logo" routerLink="/"><app-brand-mark /><span>Blood<em>Link</em></span></a>
    <div class="footer-links">
      <a href="#emergency">{{ 'nav.emergency' | t }}</a>
      <a href="#coverage">{{ 'nav.coverage' | t }}</a>
      <a href="#how">{{ 'nav.how' | t }}</a>
      <a href="#about">{{ 'nav.about' | t }}</a>
      <a routerLink="/privacy">{{ 'nav.privacy' | t }}</a>
      <a routerLink="/contact">{{ 'nav.contact' | t }}</a>
    </div>
  </div>
  <div class="footer-bottom">
    <span>{{ 'footer.tagline' | t }}</span>
    <span>{{ 'footer.disclaimer' | t }}</span>
  </div>
</footer>
